@import url(fonts.css);
@import url(normalize.css);
@import url(clearfix.css);
@import url(buttons.css);
@import url(sp.css);
@import url(gradient.css);
@import url(widgets.css);

/*fonts*/
/*@import url(fonts.css);*/
/*fonts end*/

/*normalize*/
/*@import url(normalize.css);*/
/*normalize end*/

/*------ typographic styles ------*/
body{
	font: 13px/16px Arial, Helvetica, sans-serif;
	height: 100%;
	color: #4b4f55;
	background: #fff;
	min-width: 980px;
	/*min-width: 240px;*/
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	margin: 0;
	color: #4b4f55;
}
h1{
	font-size: 24px;
	line-height: 28px;
	padding: 0 0 12px;
}
h2{
	font-size: 22px;
	line-height: 26px;
	padding: 0 0 20px;
}
h3{
	font-size: 16px;
	line-height: 18px;
	padding: 0 0 15px;
}
h4{
	font-size: 15px;
	line-height: 17px;
	padding: 0 0 10px;
}
h5{
	font-size: 14px;
	line-height: 16px;
	padding: 0 0 5px;
}
h6{
	font-size: 12px;
	line-height: 14px;
	padding: 0 0 5px;
}
p{
	padding: 0 0 20px;
	margin: 0;
}
hr{
	line-height: 1px;
	height: 0;
	border: none;
	background: none;
	border-bottom: 1px solid #000;
	margin-bottom: 25px;
}
a{
	color: #00549f;
	outline: none;
	text-decoration: underline;
	cursor: pointer;
}
a:hover{ text-decoration: none; }
/*------ typographic styles end ------*/

/*reset-ul*/
[class*="-list"],
[class*="-list"] ul{
	margin:0;
	list-style:none;
	border:0;
	padding:0;
	background:none;
}
/*reset-ul end*/

/*clearfix*/
/*@import url(clearfix.css);*/
/*clearfix end*/

/*sp*/
/*@import url(sp.css);*/
/*sp end*/

/*btn*/
/*@import url(buttons.css);*/
/*btn end*/

/*gradient*/
/*@import url(gradient.css);*/
/*gradient end*/

/*inline-block*/
[class|="icon"],
[class*=" icon-"],
[class|="arrow"],
[class*=" arrow-"],
[class|="soc-icon"],
[class*=" soc-icon-"],
[class|="btn"],
[class*=" btn-"],
[class|="corner"],
[class*=" corner-"],
.icon-star{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
}
/*inline-block end*/

/*elements form style*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea{
	display: block;
	color: #000;
	font: 14px/30px Arial, Helvetica, sans-serif;
	height: 32px;
	width: 100%;
	padding: 0 13px;
	background: #fff;
	box-shadow: none;
	border-radius: 4px;
	border: 1px solid #d5d5d5;
}
input[type="search"]{
	font: 14px/16px Arial, Helvetica, sans-serif;
	height: 16px;
	padding: 8px 4%;
	width: 90%;
}
textarea{
	padding: 8px 13px;
	min-height: 114px;
	height: 114px;
	line-height: 16px;
	resize: vertical;
}
/*placeholder style*/
input::-webkit-input-placeholder{ color: #968f83; }
textarea::-webkit-input-placeholder{ color: #968f83; }
input:-moz-placeholder{ color: #968f83; }
textarea:-moz-placeholder{ color: #968f83; }
input::-moz-placeholder{ color: #968f83; opacity: 1; }
textarea::-moz-placeholder{ color: #968f83; opacity: 1; }
input:-ms-input-placeholder{ color: #968f83; opacity: 1; }
textarea:-ms-input-placeholder{ color: #968f83; opacity: 1; }
input.placeholder{ color: #968f83; opacity: 1; }
textarea.placeholder{ color: #968f83; opacity: 1; }
/*placeholder style end*/
/*placeholder hidden*/
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{ color: transparent !important; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{ color: transparent !important; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder{ color: transparent !important; }
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder{ color: transparent !important; }
input.placeholder:focus,
textarea.placeholder:focus{ color: transparent !important; }
/*placeholder hidden end*/
.form-line{ padding: 0 0 10px; }
.label-holder{ padding: 0 0 10px; }
.label-holder,
label{
	color: #000;
	font-size: 13px;
	line-height: 15px;
}
.form-buttons{ padding: 0; }
/*form focus*/
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus{
	border-color: #1caff6;
	box-shadow: inset 0 0 0 1px #1caff6, 0 0 20px rgba(28, 175, 246, 0.76);
}
input:focus::-webkit-input-placeholder{ color: #9e9e9e; }
input:focus:-moz-placeholder{ color: #9e9e9e; }
input:focus::-moz-placeholder{ color: #9e9e9e; opacity: 1; }
input:focus:-ms-input-placeholder{ color: #9e9e9e; opacity: 1; }
input:focus .placeholder{ color: #9e9e9e; opacity: 1; }
/*form focus end*/
/*form error*/
input.error,
textarea.error{
	color: #ff4e3d;
	border-color: #ff4e3d;
	box-shadow: inset 0 0 0 1px #ff4e3d, inset 0 0 20px 0 rgba(255, 78, 61, 0.86);
}
input.error::-webkit-input-placeholder{ color: #f00; }
input.error:-moz-placeholder{ color: #f00; }
input.error::-moz-placeholder{ color: #f00; opacity: 1; }
input.error:-ms-input-placeholder{ color: #f00; opacity: 1; }
input.error .placeholder{ color: #f00; opacity: 1; }
/*form error end*/
/*radio and checkbox*/
input[type="radio"]{ float: left; height: 15px; width: 16px; margin: 0; padding: 0; }
input[type="checkbox"]{ width: 16px; height: 16px; padding: 0; margin: 0; }
/*radio and checkbox end*/
/*form error end*/
/*elements form style end*/

/*unordered list (UL) styling*/
.default-list{
	padding: 0 0 15px;
}
.default-list li{
	padding: 0 0 10px 25px;
	position: relative;
}
.default-list li:after{
	content: '';
	position: absolute;
	left: 5px;
	top: 5px;
	height: 5px;
	width: 5px;
	background: #7e7e7e;
	border-radius: 50%;
}
/*unordered list (UL) styling end*/

/*default table styling*/
.default-table{
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.default-table td,
.default-table th{
	padding: 10px;
	font-size: 15px;
	line-height: 1.26;
	background-color: #e8e8e3;
	border: 2px solid #f7f7f7;
	text-align: center;
}
.default-table tbody td{
	vertical-align: top;
}
.default-table thead th:first-child,
.default-table tbody td:first-child{
	text-align: left;
}
.default-table thead th{
	color: #676556;
	font-size: 15px;
	font-weight: bold;
	vertical-align: top;
	background-color: #deddd8;
}
/*default table styling end*/

/*transition*/
.transition,
a{
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	backface-visibility: hidden;
}
.transition-bg{
	transition: background 0.1s linear;
	-o-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	-webkit-transition: background 0.1s linear;
}
.clients-list li img{
	transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	-webkit-transition: opacity 0.1s linear;
	backface-visibility: hidden;
}
.transition-none{
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
}
/*transition end*/

/*main blocks*/
.wrapper{
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.header{
	position: relative;
	z-index: 5;
	background: url(../img/bg-header.png);
}
.main{
	padding: 29px 0 27px;
	position: relative;
	clear: both;
	z-index: 4;
}
.main-holder{
	width: 100%;
}
.content-wrap{
	float: left;
	width: 100%;
}
.content-wrap .content{
	margin: 0 0 0 253px;
	min-height: 50px;
}
.footer{
	margin: 0 auto;
	position: relative;
	clear: both;
	z-index: 5;
}
.max-wrap{
	max-width: 990px;
	padding: 0 5px;
	margin: 0 auto;
}
/*main blocks end*/

/*header*/
/*header holder*/
/*logo*/
.logo{
	float: left;
	background: url(../img/logo.png) no-repeat;
	width: 152px;
	height: 75px;
	text-indent: -9999px;
	overflow: hidden;
	margin: 11px 7.2% 14px 3.4%;
}
.logo a{
	display: block;
	height: 100%;
}
/*logo end*/
/*sub logo*/
.sub-logo{
	float: left;
	background: url(../img/sub-logo.png) no-repeat;
	width: 60px;
	height: 100px;
	text-indent: -9999px;
	overflow: hidden;
	margin-right: 11.8%;
}
/*sub logo end*/
/*select regions*/
.select-regions{
	float: left;
	background: url(../img/mini-map.png) no-repeat 50% 0;
	padding-top: 61px;
	font-size: 16px;
	line-height: 18px;
	margin: 4px 0 0;
}
.select-regions a{
	text-decoration: none;
	border-bottom: 1px dashed #a0bdd6;
}
.select-regions a:hover{ border-color: transparent; }
/*select regions end*/
/*contact us*/
.contact-us{
	float: right;
	text-align: center;
	padding: 21px 0 17px;
	font-size: 16px;
	line-height: 18px;
	margin: 0 34px 0 0;
}
.contact-us .phone{
	display: block;
	font-size: 32px;
	line-height: 36px;
	padding: 0 0 5px;
	color: #000;
}
.contact-us .phone .code{
	color: #9ca2ab;
	font-size: 24px;
}
.contact-us a{
	text-decoration: none;
	border-bottom: 1px dashed #a0bdd6;
}
.contact-us a:hover{ border-color: transparent; }
/*contact us end*/
/*header holder end*/
/*navigation panel*/
.nav-panel{
	background: #00549f;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	height: 47px;
}
.nav-panel .max-wrap{
	height: 100%;
}
.nav-panel a{
	color: #fff;
}
/*user login*/
.user-log{
	float: right;
	padding: 14px 0 17px 23px;
}
/*user login end*/
/*search-form*/
.search-form{
	float: right;
	position: relative;
	height: 100%;
}
.search-form form{
	float: left;
	width: 100%;
	height: 100%;
}
.search-form .input-wrapper{
	position: absolute;
	right: 100%;
	top: 0;
	width: 0;
	padding: 7px 10px 0;
	height: 100%;
	cursor: text;
	border-left: 1px solid #fff;
	display: none;
	background: #00549f;
}
.search-form input:focus{
	box-shadow: none;
	border-color: #fff;
}
.search-form input:focus::-webkit-input-placeholder{ color: #968f83 !important; }
.search-form input:focus:-moz-placeholder{ color: #968f83 !important; }
.search-form input:focus::-moz-placeholder{ color: #968f83 !important; }
.search-form input:focus:-ms-input-placeholder{ color: #968f83 !important; }
.search-form input.placeholder:focus{ color: #968f83 !important; }
.search-form .btn-search{
	float: left;
	padding: 13px 15px 10px 18px;
	height: 100%;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.btn-search .icon-search{margin:4px 3px 0;}
/*search-form end*/
/*navigation catalog*/
.nav-catalog{
	font-size: 20px;
	line-height: 24px;
	padding: 11px 0 0;
}
.nav-catalog a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding-left: 41px;
	position: relative;
}
.nav-catalog a:before,
.nav-catalog a:after{
	content: '';
	position: absolute;
	left: 0;
	top: 1px;
	width: 28px;
	border-top: 4px solid #fff;
}
.nav-catalog a:before{
	height: 22px;
	border-bottom: 4px solid #fff;
}
.nav-catalog a:after{
	left: 0;
	top: 10px;
	height: 14px;
}
/*navigation catalog end*/
/*navigation panel end*/
/*header end*/

/*main*/
.container{
	padding: 0 0 42px;
}
.container h2{
	font-size: 24px;
	line-height: 28px;
	padding: 0 0 14px;
}
/*groups*/
.groups{
	padding: 17px 0 14px 25px;
	background: #f3f3f3;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	margin: 0 0 30px;
}
.groups-label{
	float: left;
	padding: 0 27px 10px 0;
}
.groups-list{
	overflow: hidden;
	letter-spacing: -0.01em;
}
.groups-list li{
	float: left;
	padding: 0 30px 10px 0;
}
.groups-list li a{
	text-decoration: none;
	border-bottom: 1px dashed #00549f;
}
.groups-list li a:hover{
	border-color: transparent;
}
/*groups end*/
/*products list*/
.products{ overflow: hidden; }
.products-list{
	font-size: 0;
	letter-spacing: -4px;
	margin: -30px -15px 0;
	position: relative;
}
.products-list.goods{ padding-bottom: 9px; }
.products-list.no-spaces{
	padding: 0 1px 1px 0;
	margin: 0;
}
.products-list > li{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	letter-spacing: normal;
	padding: 30px 15px 0;
}
.products-list.no-spaces > li{
	padding: 0;
}
.products-list.column-1 > li{ width: 100%; }
.products-list.column-2 > li{ width: 50%; }
.products-list.column-3 > li{ width: 33.3%; }
.products-list.column-4 > li{ width: 25%; }
.products-list.column-5 > li{ width: 20%; }
.products-item{
	border: 1px solid #e4e4e4;
	display: block;
	padding: 14px 14px 21px;
	position: relative;
}
.products-list.hits .products-item{
	padding: 21px 14px 16px;
}
.products-list.goods .products-item{
	padding: 21px 10px 6px;
}
.products-item > a{
	display: inline-block;
	vertical-align: top;
}
.no-spaces .products-item{
	margin: 0 -1px -1px 0;
}
.product-img{
	margin: 0 auto 18px;
	overflow: hidden;
	border-radius: 50%;
}
.products-list.categories .product-img{
	max-width: 99px;
}
.products-list.hits .product-img{
	max-width: 129px;
	margin: 0 auto 11px;
}
.products-list.goods .product-img{
	max-width: 143px;
	margin: 0 auto 14px;
}
.products-list.categories .product-img img,
.products-list.hits .product-img img{
	border-radius: 50%;
}
.product-title{
	display: table;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.product-title > strong{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
	color: #00549f;
	text-decoration: underline;
}
a:hover .product-title > strong{
	text-decoration: none;
}
.product-price{
	padding: 13px 0 11px;
	color: #000;
	font-size: 14px;
	line-height: 22px;
}
.product-price .price-value{
	font-size: 20px;
	font-weight: normal;
}
.product-price .price-unit{ white-space: nowrap; }
.product-option{
	font-size: 13px;
	line-height: 15px;
	color: #656565;
}
.product-option > *{ vertical-align: middle; }
.product-option > .status{ padding: 0 10px; }
.products-item .product-brands-list{
	font-size: 0;
	letter-spacing: -4px;
	margin: 19px -13px 0;
	text-align: center;
}
.product-brands-list > li{
	letter-spacing: normal;
	font-size: 13px;
	display: inline-block;
	vertical-align: middle;
	padding: 0 8px 5px;
}
/*products list end*/

/*clients*/
.clients-list{
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	text-align: justify;
	overflow: hidden;
	cursor: default;
	padding: 38px 0 16px;
	border-top: 1px solid #e4e4e4;
}
.clients-list:after{
	content: "1";
	margin-left: 100%;
	margin-top: -1px;
	height: 1px;
	overflow: hidden;
	display: inline-block;
	position: relative;
}
.clients-list li{
	font-size: 13px;
	line-height: 17px;
	letter-spacing: normal;
	display: inline-block;
	vertical-align: middle;
}
.clients-list li a{
	display: block;
	position: relative;
}
.clients-list li img:first-child + img{
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.clients-list li a:hover img:first-child{
	opacity: 0;
}
.clients-list li a:hover img:first-child + img{
	opacity: 1;
}
/*clients end*/

/* paging */
.paging{
	padding: 10px 0 0;
	border-top: 1px solid #e4e4e4;
}
.paging-list {
	cursor: default;
	font-size: 0;
	line-height: 25px;
	letter-spacing: -4px;
	margin: 0 -5px;
}
.paging-list li{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	letter-spacing: normal;
	color: #656565;
	text-align: center;
	padding: 10px 5px 0;
}
.paging-list a,
.paging-list .current-page span{
	display: block;
	height: 25px;
	min-width: 25px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	padding: 0 5px;
	background: #00549f;
	border-radius: 4px;
}
.paging-list a:hover,
.paging-list .current-page span{
	color: #656565;
	background: #e3e3e3;
}
.paging-list .current-page span{
	cursor: default;
}
/* paging end */
/*main end*/

/*sidebar*/
.sidebar{
	display: inline;
	float: left;
	margin: 0 0 0 -100%;
	width: 230px;
	padding: 6px 0 0;
}
.menu{ padding: 0 0 37px; }
.menu-list li{
	float: left;
	width: 100%;
}
.menu-list a{
	vertical-align: top;
}
.menu-list > li{
	padding: 0 0 0 17px;
	position: relative;
	margin-top: 10px;
	overflow: hidden;
}
.menu-list > li:first-child{
	padding-bottom: 1px;
	margin: 0;
}
.menu-list > li:before{
	content: '';
	position: absolute;
	left: 2px;
	top: 5px;
	background: url(../img/sprite-icons.png) no-repeat 0 -42px;
	height: 7px;
	width: 4px;
}
.menu-list > li.active:before{
	top: 5px;
	left: 0;
	background-position: 0 -69px;
	height: 4px;
	width: 7px;
}
.menu-list > li.active{
	padding-bottom: 2px;
	border-bottom: 1px solid #d4d4d4;
}
.menu-list > li.active > a{
	display: inline-block;
	position: relative;
	max-width: 80%;
}
.menu-list > li.active > a:after{
	content: '';
	position: absolute;
	left: 100%;
	bottom: 6px;
	height: 0;
	width: 999px;
	margin-left: 16px;
	border-top: 1px solid #d4d4d4;
}
.menu-list ul{
	font-size: 12px;
	line-height: 14px;
}
.menu-list > li > ul{
	padding: 11px 0 16px;
}
.menu-list > li > ul > li{
	padding-left: 12px;
	margin-top: 10px;
}
.menu-list > li > ul > li:first-child{
	margin-top: 0;
}
.menu-list > li > ul > li.active > a{
	color: #e51937;
	text-decoration: none;
}
.menu-list > li > ul > li.active > a:hover{
	text-decoration: underline;
}
.menu-list > li > ul > li > ul{
	padding: 12px 0 5px;
}
.menu-list > li > ul > li > ul > li{
	padding-left: 17px;
	margin-top: 10px;
	position: relative;
}
.menu-list > li > ul > li > ul > li:before{
	content: '';
	position: absolute;
	left: 1px;
	top: 4px;
	background: url(../img/sprite-icons.png) no-repeat 0 -93px;
	height: 5px;
	width: 5px;
}
.menu-list > li > ul > li > ul > li:first-child{
	margin-top: 0;
}
.menu-list > li > ul > li > ul > li > a{
	color: #656565;
}
.widget{
	padding: 0 0 17px;
}
.sidebar h3{
	font-size: 20px;
	line-height: 22px;
	color: #4b4f55;
	padding: 0 0 15px;
}
.widget-title{
	padding: 0 0 13px;
	line-height: 22px;
}
.widget-title h3{
	padding: 0 10px 0 0;
	display: inline-block;
}
.widget-title [class*="icon-"]{
	position: relative;
	top: 6px;
	margin-right: 8px;
}
.news-links-list li{
	padding: 0 0 10px;
}
/*sidebar end*/

/*footer*/
/*footer top*/
.footer-top{
	background: #f3f3f3;
	font-size: 14px;
	line-height: 18px;
	color: #656565;
	padding: 35px 0 25px;
}
.footer-top a{ color: #656565; }
.categories-list{
	font-size: 0;
	letter-spacing: -4px;
}
.categories-list li{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	font-size: 14px;
	letter-spacing: normal;
	padding: 0 2% 12px 0;
	text-align: left;
}
.categories-list li:nth-child(5n+1){ width: 21.8%; }
.categories-list li:nth-child(5n+2){ width: 18%; }
.categories-list li:nth-child(5n+3){ width: 15.0%; }
.categories-list li:nth-child(5n+4){ width: 26.3%; }
.categories-list li:nth-child(5n+5){ width: 18.9%; }
/*footer top end*/
/*footer bottom*/
.footer-bottom{
	font-size: 12px;
	line-height: 16px;
	background: #00549f;
	color: #fff;
	padding: 26px 0 29px;
}
.footer-bottom a{ color: #fff; }
.addresses-list{
	line-height: 0;
	text-align: justify;
	overflow: hidden;
	cursor: default;
	padding: 0 0 7px;
}
.addresses-list:after{
	content: "1";
	margin-left: 100%;
	height: 1px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.addresses-list li{
	line-height: 16px;
	display: inline-block;
	vertical-align: top;
	padding: 0 0 15px;
}
.addresses-list .address-title{
	display: block;
	font-size: 20px;
	line-height: 22px;
	font-weight: normal;
	padding: 0 0 8px;
}
/*footer bottom end*/
/*footer end*/

.footer{ background: #ffcdcd; }