/*  
	--- WIDGETS CONTAINS --- 
	
	0. ui-lightness
	1. Fancybox
	2. slick
	3. UI Multiselect
	4. Jquery Checkbox (check/radio)
	5. Datepiker
	
*/

/*--- 0. ui-lightness ---*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*--- 0. ui-lightness end ---*/

/*--- 1. Fancybox ---*/
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #fff;
	color: #444;
	text-shadow: none;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../img/fancybox/fancybox_sprite.png');
}
.fancybox-popup .fancybox-close{
	background: url('../img/sprite-icons.png') no-repeat 0 -369px;
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../img/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}
.fancybox-close {
	top: 11px;
	right: 14px;
	height: 14px;
	width: 14px;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../img/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
	width: auto;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../img/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('../img/fancybox/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('../img/fancybox/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
/*--- 1. Fancybox End ---*/


/*--- 2. slick ---*/
/* Slider */
.slick-slider{
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus{
	outline: none;
}
.slick-list.dragging{
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track{
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before,
.slick-track:after{
	display: table;
	content: '';
}
.slick-track:after{
	clear: both;
}
.slick-loading .slick-track{
	visibility: hidden;
}
.slick-slide{
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide{
	float: right;
}
.slick-slide img{
	display: block;
}
.slick-slide.slick-loading img{
	display: none;
}
.slick-slide.dragging img{
	pointer-events: none;
}
.slick-initialized .slick-slide{
	display: block;
}
.slick-loading .slick-slide{
	visibility: hidden;
}
.slick-vertical .slick-slide{
	display: block;
	height: auto;
	border: 1px solid transparent;
}
/*--- 2. slick end ---*/

/*--- 3. UI Multiselect ---*/
/* jquery multiselect core */
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px; }
 
.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }
 
.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }
 
/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }
/* jquery multiselect core end */
 
/* jquery multiselect style */
button.cselect {
	display:block;
	position:relative;
	zoom:1;
	padding:0;
	margin:0;
	line-height: 16px;
	border:none;
	background:none;
}
button.cselect .select-inner {
	display:block;
	background-color:#fff;
	padding:6px 28px 6px 12px;
	position:relative;
	font-size: 12px;
	line-height: 16px;
	color: #808080;
	font-weight: 400;
	border: 1px solid #d5d5d5;
	border-radius: 2px;
}
button.cselect .ui-icon {
	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:30px;
	display:block;
	background: none;
}
button.cselect .ui-icon .arrow-select{
	position: absolute;
	right: 9px;
	top: 12px;

	height: 0;
	width: 0;
	border: solid transparent;
	border-color: rgba(128, 128, 128, 0);
	border-top-color: #808080;
	border-width: 5px;
}
/*delete*/
button.cselect .ui-icon .arrow-select:after{
	content: " ";
	position: absolute;
	top: -7px;
	left: 0;
	height: 0;
	width: 0;
	border: solid transparent;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 4px;
	margin-left: -4px;
}
/*delete end*/
button.cselect .select-text {
	display:block;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}
/* multiselect button end */

/* multiselect menu */
div.cselect.ui-multiselect-menu {
	padding:2px 0;
	margin:0;
}
div.cselect .ui-multiselect-checkboxes {
	padding:0;
	margin:0;
	list-style-type:none;
	height: auto !important;
	max-height:200px;
	overflow:auto;
	background-color:#fff;
	border: 1px solid #d5d5d5;
	border-radius: 2px;
}
div.cselect .ui-multiselect-checkboxes li {padding:0;}
div.cselect .ui-multiselect-checkboxes label input {
	position:absolute;
	left:-9999px;
}
div.cselect .ui-multiselect-checkboxes label {
	display:block;
	cursor:pointer;
	font-size: 12px;
	line-height: 16px;
	color: #808080;
	font-weight: 400;
	padding:6px 12px 6px;
}
div.cselect .ui-multiselect-checkboxes label:hover{
	background-color: #f0f0f0;
}
div.cselect .ui-multiselect-checkboxes label.ui-state-active {
	background-color:#f7f7f7;
}
/* multiselect menu end */
/*--- 3. UI Multiselect End ---*/

/*--- 4. Jquery Checkbox (check/radio) ---*/
/* checkbox */
.jquery-checkbox{
	cursor: pointer;
	margin: 5px 5px 0 0;
	font-size: 14px;
	line-height: 14px;
	height: 23px;
}
.jquery-checkbox .mark {display: inline;}

.jquery-checkbox img {
	vertical-align: middle;
	height: 23px;
	width: 24px;
	background: url(../img/sprite-icons.png) 0 -403px no-repeat;
}
.jquery-checkbox-disabled img,
.jquery-checkbox-checked .jquery-checkbox-disabled img{background-position: 0 -489px;}

.jquery-checkbox-checked img,
.jquery-checkbox-checked .jquery-checkbox-hover img {background-position: 0 -446px; }
/* checkbox end */

/* radio */
.jquery-radiobox {
	cursor: pointer;
	margin: 5px 5px 0 0;
	font-size: 14px;
	line-height: 14px;
	height: 14px;
}
.jquery-radiobox .mark {
	display: inline;
}

.jquery-radiobox img {
	vertical-align: top;
	background: url(../img/sprite-icons.png) 0 -403px no-repeat;
	height: 23px;
	width: 24px;
}

.jquery-radiobox img,
.jquery-radiobox-disabled img,
.jquery-radiobox-checked .jquery-radiobox-disabled img{background-position: 0 -489px;}

.jquery-radiobox-checked img,
.jquery-radiobox-checked .jquery-radiobox-hover img,
.jquery-radiobox-checked img{background-position: 0 -446px;}
/* radio end */
/*--- 4. Jquery Checkbox (check/radio) ---*/